raspberry_pi/node_red/Flow_Music.json
[{"id":"61a1aa2e.e4a424","type":"tab","label":"Music","disabled":false,"info":""},{"id":"f2e27bc9.2222f8","type":"link in","z":"61a1aa2e.e4a424","name":"","links":["44bc7e4b.3a462"],"x":35,"y":280,"wires":[["177b1028.20db7"]]},{"id":"eb0670a1.3a60f","type":"exec","z":"61a1aa2e.e4a424","command":"catt","addpay":true,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Cast Music to Speaker","x":2200,"y":220,"wires":[["6e53bffe.f5c2c"],["36f67968.10f296","ce630124.b86ed"],["853bebbb.b6c708"]]},{"id":"6e53bffe.f5c2c","type":"debug","z":"61a1aa2e.e4a424","name":"Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2450,"y":200,"wires":[]},{"id":"36f67968.10f296","type":"debug","z":"61a1aa2e.e4a424","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2470,"y":340,"wires":[]},{"id":"853bebbb.b6c708","type":"debug","z":"61a1aa2e.e4a424","name":"Return","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2470,"y":400,"wires":[]},{"id":"584056d.8e18da8","type":"function","z":"61a1aa2e.e4a424","name":"Random Song","func":"var randomNumber = Math.floor(Math.random() * 15);\nvar video_id = msg.payload.items[randomNumber].id.videoId;\nvar url = \"https://www.youtube.com/watch?v=\"+video_id;\nglobal.set(\"songURL\", url);\nmsg.url = \"https://youtube.googleapis.com/youtube/v3/videos?part=contentDetails&id=\" + video_id + \"&key=AIzaSyAl9dNg9WUXw6sMUYzEyhFy3QZuvi0RsDg\" \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":340,"wires":[["ca56297b.4f77e8","42f4d2ae.b5c9ac"]]},{"id":"34cb0369.b490bc","type":"inject","z":"61a1aa2e.e4a424","name":"Test Cast","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Cast\":{\"on\":true,\"random\":true,\"holiday\":\"Christmas\"}}","payloadType":"json","x":100,"y":360,"wires":[["e64012de.28d39"]]},{"id":"4311f6e5.7abe98","type":"http request","z":"61a1aa2e.e4a424","name":"Search You Tube","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":340,"wires":[["584056d.8e18da8","6c3f531c.73a40c"]]},{"id":"ca56297b.4f77e8","type":"debug","z":"61a1aa2e.e4a424","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":420,"wires":[]},{"id":"e64012de.28d39","type":"function","z":"61a1aa2e.e4a424","name":"","func":"var holiday = msg.payload.holiday;\nmsg.url = \"https://youtube.googleapis.com/youtube/v3/search?part=snippet&maxResults=15&q=\"+ holiday + \" songs\" + \"%20music&type=video&videoEmbeddable=any&videoType=any&key=AIzaSyAl9dNg9WUXw6sMUYzEyhFy3QZuvi0RsDg\"\ndelete msg.payload.Lights;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":360,"wires":[["4311f6e5.7abe98"]]},{"id":"553224f2.f2e09c","type":"exec","z":"61a1aa2e.e4a424","command":"catt stop","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Stop Casting","x":770,"y":80,"wires":[[],["3d3d8e13.7ab942"],["76176655.870448"]]},{"id":"61544ba4.eaf3f4","type":"debug","z":"61a1aa2e.e4a424","name":"Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":40,"wires":[]},{"id":"3d3d8e13.7ab942","type":"debug","z":"61a1aa2e.e4a424","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":80,"wires":[]},{"id":"76176655.870448","type":"debug","z":"61a1aa2e.e4a424","name":"Return","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":120,"wires":[]},{"id":"473ba418.db97fc","type":"switch","z":"61a1aa2e.e4a424","name":"Random Music T/F","property":"payload.url","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":510,"y":280,"wires":[["31755df0.315ae2"],["e64012de.28d39"]]},{"id":"7d03f898.e140a8","type":"function","z":"61a1aa2e.e4a424","name":"Build URL & Catt Cmd","func":"var url = global.get(\"songURL\");\nmsg.payload = \"cast \" + url;\ndelete msg.payload.Lights;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1840,"y":220,"wires":[["eb0670a1.3a60f","1772e8cc.a0dfa7"]]},{"id":"177b1028.20db7","type":"function","z":"61a1aa2e.e4a424","name":"","func":"msg.payload = msg.payload.receivedMessages[0].message.data.Cast;\ndelete msg.payload.Lights;\nglobal.set(\"ErrorLoop\",false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":280,"wires":[["2b7b7a36.44ce26"]]},{"id":"2b7b7a36.44ce26","type":"switch","z":"61a1aa2e.e4a424","name":"Cast On/Off","property":"payload.on","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":200,"wires":[["a7ab4374.89512"],["473ba418.db97fc"]]},{"id":"f18d21a1.e643","type":"inject","z":"61a1aa2e.e4a424","name":"Test Stop Cast","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["553224f2.f2e09c"]]},{"id":"6c3f531c.73a40c","type":"debug","z":"61a1aa2e.e4a424","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":420,"wires":[]},{"id":"1772e8cc.a0dfa7","type":"debug","z":"61a1aa2e.e4a424","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2070,"y":120,"wires":[]},{"id":"31755df0.315ae2","type":"function","z":"61a1aa2e.e4a424","name":"Build GET Request","func":"var url = msg.payload.url;\nvar result = url.split(\"=\", 2);\nglobal.set(\"songURL\", url);\nmsg.url = \"https://youtube.googleapis.com/youtube/v3/videos?part=contentDetails&id=\" + result[1] + \"&key=AIzaSyAl9dNg9WUXw6sMUYzEyhFy3QZuvi0RsDg\" \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":220,"wires":[["42f4d2ae.b5c9ac"]]},{"id":"6135ed35.b1f194","type":"debug","z":"61a1aa2e.e4a424","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":120,"wires":[]},{"id":"42f4d2ae.b5c9ac","type":"http request","z":"61a1aa2e.e4a424","name":"GET Song Duration","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":220,"wires":[["6135ed35.b1f194","c0a46985.a1c968"]]},{"id":"c0a46985.a1c968","type":"function","z":"61a1aa2e.e4a424","name":"Record Song Duration","func":"  var songDuration = msg.payload.items[0].contentDetails.duration;\n  var hours, minutes; \n  var hoursInSeconds = 0;\n  var minutesInSeconds = 0;\n  var seconds = 0;\n\n  s = songDuration.includes(\"S\");\n  m = songDuration.includes(\"M\");\n  h = songDuration.includes(\"H\");\n  pt = songDuration.includes(\"PT\");\n  \n  if(s){\n  \t seconds = songDuration.split(\"S\");\n     if (m) {\n     \tseconds = seconds[0].split(\"M\");\n     } else {\n     \tseconds = seconds[0].split(\"PT\");     \n     }  \n     seconds = seconds[1];\n  }\n  \n  if(m){\n  \tminutes = songDuration.split(\"M\");\n    if (h) {\n    \tminutes = minutes[0].split(\"H\");\n        minutes = minutes[1];\n    } else {\n    \tminutes = minutes[0].split(\"PT\");\n        minutes = minutes[1];\n    }\n    minutesInSeconds = minutes * 60;\n  }\n  \n  if(h){\n  \thours = songDuration.split(\"H\");\n    hours = hours[0].split(\"PT\");\n    hoursInSeconds = hours[1] * 3600;\n  }\n  \n  msg.payload = Number(hoursInSeconds) + Number(minutesInSeconds) + Number(seconds);\n  msg.topic = \"control\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":220,"wires":[["7d03f898.e140a8","e6470bc1.24cb18","3900eedc.da1f02"]]},{"id":"e6470bc1.24cb18","type":"debug","z":"61a1aa2e.e4a424","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1690,"y":120,"wires":[]},{"id":"a7ab4374.89512","type":"change","z":"61a1aa2e.e4a424","name":"Set Countdown","rules":[{"t":"set","p":"BooleanLoop","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":140,"wires":[["553224f2.f2e09c","971bd5a.4c1c228"]]},{"id":"3900eedc.da1f02","type":"countdown","z":"61a1aa2e.e4a424","name":"","topic":"","payloadTimerStart":"true","payloadTimerStartType":"bool","payloadTimerStop":"false","payloadTimerStopType":"str","timer":"0","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":true,"x":1810,"y":320,"wires":[["45f2866e.a09ac8","b9de4baa.c4d418"],[]]},{"id":"45f2866e.a09ac8","type":"debug","z":"61a1aa2e.e4a424","name":"Countdown Start/Stop Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2060,"y":360,"wires":[]},{"id":"971bd5a.4c1c228","type":"link out","z":"61a1aa2e.e4a424","name":"","links":["e9c3ed49.df984"],"x":725,"y":160,"wires":[]},{"id":"e9c3ed49.df984","type":"link in","z":"61a1aa2e.e4a424","name":"","links":["971bd5a.4c1c228"],"x":1575,"y":320,"wires":[["3900eedc.da1f02"]]},{"id":"ce630124.b86ed","type":"switch","z":"61a1aa2e.e4a424","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2470,"y":280,"wires":[["6e5b4cb9.f55934"],["708fec5d.8c0124"]]},{"id":"1be1eb20.9fd895","type":"while-loop","z":"61a1aa2e.e4a424","name":"","condi":"global.get(\"ErrorLoop\") == true","x":2970,"y":280,"wires":[["a373b154.2bf12"],["bf20eb2.025cd18"]]},{"id":"708fec5d.8c0124","type":"change","z":"61a1aa2e.e4a424","name":"","rules":[{"t":"set","p":"ErrorLoop","pt":"global","to":"False","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2740,"y":340,"wires":[[]]},{"id":"6e5b4cb9.f55934","type":"exec","z":"61a1aa2e.e4a424","command":"catt stop","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Cast Music to Speaker","x":2660,"y":200,"wires":[["1e3699c1.638796"],["ac345e46.59c7d"],["896cf7a8.94fa88","fd8d8e02.77861"]]},{"id":"b9de4baa.c4d418","type":"switch","z":"61a1aa2e.e4a424","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1990,"y":300,"wires":[["6d23229c.bd67bc"]]},{"id":"6d23229c.bd67bc","type":"change","z":"61a1aa2e.e4a424","name":"","rules":[{"t":"set","p":"BooleanLoop","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":300,"wires":[[]]},{"id":"a373b154.2bf12","type":"debug","z":"61a1aa2e.e4a424","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3270,"y":200,"wires":[]},{"id":"bf20eb2.025cd18","type":"delay","z":"61a1aa2e.e4a424","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3260,"y":280,"wires":[["7d03f898.e140a8"]]},{"id":"fd8d8e02.77861","type":"change","z":"61a1aa2e.e4a424","name":"","rules":[{"t":"set","p":"ErrorLoop","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2940,"y":200,"wires":[["1be1eb20.9fd895"]]},{"id":"1e3699c1.638796","type":"debug","z":"61a1aa2e.e4a424","name":"Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2890,"y":80,"wires":[]},{"id":"ac345e46.59c7d","type":"debug","z":"61a1aa2e.e4a424","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2890,"y":120,"wires":[]},{"id":"896cf7a8.94fa88","type":"debug","z":"61a1aa2e.e4a424","name":"Return","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2890,"y":160,"wires":[]}]