raspberry_pi/node_red/Flow_Subscriber.json
[{"id":"b412c1ab.fdb07","type":"tab","label":"Subscriber -- Pull Msgs","disabled":false,"info":""},{"id":"172910cf.70b73f","type":"google","z":"b412c1ab.fdb07","name":"Google","google":"396ff547.2561ca","api":"pubsub:v1","operation":"projects.subscriptions.pull","x":260,"y":200,"wires":[["22997a0a.6177e6","6cc591c0.16f48"]]},{"id":"dd36de4.4f1bd2","type":"inject","z":"b412c1ab.fdb07","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"{\"subscription\":\"projects/holiday-light-controller/subscriptions/lights_music_msgs\",\"maxMessages\":\"1\"}","payloadType":"json","x":90,"y":200,"wires":[["172910cf.70b73f"]]},{"id":"6cc591c0.16f48","type":"debug","z":"b412c1ab.fdb07","name":"Pull Msgs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":300,"wires":[]},{"id":"a34b3178.7e76d","type":"google","z":"b412c1ab.fdb07","name":"Google","google":"396ff547.2561ca","api":"pubsub:v1","operation":"projects.subscriptions.acknowledge","x":1220,"y":200,"wires":[[]]},{"id":"93da2c4b.a4da1","type":"function","z":"b412c1ab.fdb07","name":"","func":"msg.payload [\"ackIds\"] = msg.payload.receivedMessages[0].ackId;\nmsg.payload [\"subscription\"] = \"projects/holiday-light-controller/subscriptions/lights_music_msgs\";\ndelete msg.payload.receivedMessages;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":200,"wires":[["d7d2f69f.e686f8","a34b3178.7e76d"]]},{"id":"d7d2f69f.e686f8","type":"debug","z":"b412c1ab.fdb07","name":"AckID Payload","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":300,"wires":[]},{"id":"747ac3b0.a155fc","type":"link out","z":"b412c1ab.fdb07","name":"Hue Lights","links":["6fbefff1.f7c8f"],"x":1190,"y":60,"wires":[],"l":true},{"id":"454cbc67.103dc4","type":"debug","z":"b412c1ab.fdb07","name":"JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":300,"wires":[]},{"id":"44bc7e4b.3a462","type":"link out","z":"b412c1ab.fdb07","name":"Music","links":["f2e27bc9.2222f8"],"x":1170,"y":120,"wires":[],"l":true},{"id":"6576d289.f8b1fc","type":"function","z":"b412c1ab.fdb07","name":"","func":"var encodedData = msg.payload.receivedMessages[0].message.data;\nvar dec = Buffer.from(encodedData, \"base64\");\ndec.toString();\nmsg.payload.receivedMessages[0].message.data = JSON.parse(dec);\nglobal.set(\"BooleanLoop\",true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":200,"wires":[["454cbc67.103dc4","11813e04.447ce2","93da2c4b.a4da1"]]},{"id":"11813e04.447ce2","type":"switch","z":"b412c1ab.fdb07","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"payload.receivedMessages[0].message.data.Lights","vt":"msg"},{"t":"cont","v":"payload.receivedMessages[0].message.data.Cast","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":80,"wires":[["747ac3b0.a155fc"],["44bc7e4b.3a462"]]},{"id":"22997a0a.6177e6","type":"switch","z":"b412c1ab.fdb07","name":"Payload is not Empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":200,"wires":[["6576d289.f8b1fc","39bebbb5.b760d4"]]},{"id":"39bebbb5.b760d4","type":"debug","z":"b412c1ab.fdb07","name":"Payload Empty","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":300,"wires":[]},{"id":"649ca7ee.3dc4f8","type":"comment","z":"b412c1ab.fdb07","name":"Insert Google API Key in Google > Connection","info":"Insert Google API Key in Google ","x":290,"y":140,"wires":[]},{"id":"10ab57c6.fea9b8","type":"comment","z":"b412c1ab.fdb07","name":"Insert Google API Key in Google > Connection","info":"Insert Google API Key in Google ","x":1210,"y":160,"wires":[]},{"id":"396ff547.2561ca","type":"google-conn","z":"","name":"Google","key":"","scopes":"https://www.googleapis.com/auth/pubsub"}]