raspberry_pi/node_red/Flow_Lights.json
[{"id":"9486b20e.dbcde","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"6fbefff1.f7c8f","type":"link in","z":"9486b20e.dbcde","name":"","links":["747ac3b0.a155fc"],"x":35,"y":280,"wires":[["54a8859f.d29f2c"]]},{"id":"b4889dc8.cecf","type":"http request","z":"9486b20e.dbcde","name":"All HUE Lights Action","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.225/api/97XWWZZHrOTuvaMf-XyiqAYz0Ty96oDJTseanmB7/groups/1/action","tls":"","persist":false,"proxy":"","authType":"","x":1140,"y":280,"wires":[["6addcd93.ec5794"]]},{"id":"54a8859f.d29f2c","type":"function","z":"9486b20e.dbcde","name":"","func":"msg.payload = msg.payload.receivedMessages[0].message.data.Lights;\nglobal.set(\"hueRandom\", msg.payload.hue_random);\nglobal.set(\"briRandom\", msg.payload.bri_random);\nglobal.set(\"BooleanLoop\",true);\ndelete msg.payload.hue_random;\ndelete msg.payload.bri_random;\nglobal.set(\"Counter\", 1);\nglobal.set(\"orgMsg\", msg.payload);\n//msg.payload = msg.payload.Lights;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":280,"wires":[["75afcfbb.a3719","e5f415ee.f37f08"]]},{"id":"6addcd93.ec5794","type":"debug","z":"9486b20e.dbcde","name":"Phillip's HUE API Endpoint Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1470,"y":280,"wires":[]},{"id":"75afcfbb.a3719","type":"debug","z":"9486b20e.dbcde","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":360,"wires":[]},{"id":"e5f415ee.f37f08","type":"switch","z":"9486b20e.dbcde","name":"","property":"payload.hue2","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":280,"wires":[["17675d6a.f5e033"],["b4889dc8.cecf"]]},{"id":"531bc595.7eabac","type":"function","z":"9486b20e.dbcde","name":"","func":"var colorCounter = global.get(\"Counter\");\nvar orgMsg = global.get(\"orgMsg\");\nvar randomHue = global.get(\"hueRandom\");\nvar randomBri = global.get(\"briRandom\");\nvar randomColor = Math.floor((Math.random() * 65000) + 1);\nvar randomBrightness = Math.floor((Math.random() * 255) + 1);\nvar currentColor;\nif (colorCounter == 1){\n    currentColor = orgMsg.hue;\n   } else if (colorCounter ==2) {\n       currentColor = orgMsg.hue2;\n   }else if (colorCounter == 3) {\n       currentColor = orgMsg.hue3;\n       colorCounter = 0;\n   }\ncolorCounter = colorCounter + 1;\nglobal.set(\"Counter\", colorCounter);\ndelete msg.payload.hue2;\ndelete msg.payload.hue3;\nif (randomHue == true){\n    currentColor = randomColor;\n}\nif (randomBri == true){\n    msg.payload.bri = randomBrightness;\n}\nmsg.payload.hue = currentColor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":100,"wires":[["681321a7.3460d","b4889dc8.cecf"]]},{"id":"681321a7.3460d","type":"delay","z":"9486b20e.dbcde","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":100,"wires":[["7e32e509.1df6dc"]]},{"id":"7e32e509.1df6dc","type":"while-loop","z":"9486b20e.dbcde","name":"while-loop","condi":"global.get(\"BooleanLoop\") == true","x":720,"y":100,"wires":[["1eba3122.0542ef"],["531bc595.7eabac"]]},{"id":"1eba3122.0542ef","type":"debug","z":"9486b20e.dbcde","name":"End Loop","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":40,"wires":[]},{"id":"17675d6a.f5e033","type":"switch","z":"9486b20e.dbcde","name":"","property":"payload.hue3","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":140,"wires":[["7e32e509.1df6dc"],["f25a68a0.fbc848"]]},{"id":"bb4209b9.3dbb58","type":"function","z":"9486b20e.dbcde","name":"","func":"var colorCounter = global.get(\"Counter\");\nvar orgMsg = global.get(\"orgMsg\");\nvar randomHue = global.get(\"hueRandom\");\nvar randomColor = Math.floor((Math.random() * 65000) + 1);\nvar randomBrightness = Math.floor((Math.random() * 255) + 1);\nvar currentColor;\nif (colorCounter == 1){\n    currentColor = orgMsg.hue;\n   } else if (colorCounter ==2) {\n       currentColor = orgMsg.hue2;\n       colorCounter = 0;\n   }\ncolorCounter = colorCounter + 1;\nglobal.set(\"Counter\", colorCounter);\ndelete msg.payload.hue2;\ndelete msg.payload.hue3;\nif (randomHue == true){\n    currentColor = randomColor;\n}\nif (randomBri == true){\n    msg.payload.bri = randomBrightness;\n}\nmsg.payload.hue = currentColor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":180,"wires":[["b4889dc8.cecf","c2b6d9c2.e3bdb8"]]},{"id":"f25a68a0.fbc848","type":"while-loop","z":"9486b20e.dbcde","name":"while-loop","condi":"global.get(\"BooleanLoop\") == true","x":720,"y":180,"wires":[["1eba3122.0542ef"],["bb4209b9.3dbb58"]]},{"id":"c2b6d9c2.e3bdb8","type":"delay","z":"9486b20e.dbcde","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":180,"wires":[["f25a68a0.fbc848"]]}]