raspberry_pi/node_red/Flow_Subscriber.json
[{"id":"b412c1ab.fdb07","type":"tab","label":"Subscriber -- Pull Msgs","disabled":false,"info":""},{"id":"172910cf.70b73f","type":"google","z":"b412c1ab.fdb07","name":"Google","google":"396ff547.2561ca","api":"pubsub:v1","operation":"projects.subscriptions.pull","x":260,"y":200,"wires":[["22997a0a.6177e6","6cc591c0.16f48"]]},{"id":"dd36de4.4f1bd2","type":"inject","z":"b412c1ab.fdb07","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"{\"subscription\":\"projects/holiday-light-controller/subscriptions/lights_music_msgs\",\"maxMessages\":\"1\"}","payloadType":"json","x":90,"y":200,"wires":[["172910cf.70b73f"]]},{"id":"6cc591c0.16f48","type":"debug","z":"b412c1ab.fdb07","name":"Pull Msgs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":300,"wires":[]},{"id":"a34b3178.7e76d","type":"google","z":"b412c1ab.fdb07","name":"Google","google":"396ff547.2561ca","api":"pubsub:v1","operation":"projects.subscriptions.acknowledge","x":1220,"y":200,"wires":[[]]},{"id":"93da2c4b.a4da1","type":"function","z":"b412c1ab.fdb07","name":"","func":"msg.payload [\"ackIds\"] = msg.payload.receivedMessages[0].ackId;\nmsg.payload [\"subscription\"] = \"projects/holiday-light-controller/subscriptions/lights_music_msgs\";\ndelete msg.payload.receivedMessages;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":200,"wires":[["d7d2f69f.e686f8","a34b3178.7e76d"]]},{"id":"d7d2f69f.e686f8","type":"debug","z":"b412c1ab.fdb07","name":"AckID Payload","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":300,"wires":[]},{"id":"747ac3b0.a155fc","type":"link out","z":"b412c1ab.fdb07","name":"Hue Lights","links":["6fbefff1.f7c8f"],"x":1190,"y":60,"wires":[],"l":true},{"id":"454cbc67.103dc4","type":"debug","z":"b412c1ab.fdb07","name":"JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":300,"wires":[]},{"id":"44bc7e4b.3a462","type":"link out","z":"b412c1ab.fdb07","name":"Music","links":["f2e27bc9.2222f8"],"x":1170,"y":120,"wires":[],"l":true},{"id":"6576d289.f8b1fc","type":"function","z":"b412c1ab.fdb07","name":"","func":"var encodedData = msg.payload.receivedMessages[0].message.data;\nvar dec = Buffer.from(encodedData, \"base64\");\ndec.toString();\nmsg.payload.receivedMessages[0].message.data = JSON.parse(dec);\nglobal.set(\"BooleanLoop\",true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":200,"wires":[["454cbc67.103dc4","11813e04.447ce2","93da2c4b.a4da1"]]},{"id":"11813e04.447ce2","type":"switch","z":"b412c1ab.fdb07","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"payload.receivedMessages[0].message.data.Lights","vt":"msg"},{"t":"cont","v":"payload.receivedMessages[0].message.data.Cast","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":80,"wires":[["747ac3b0.a155fc"],["44bc7e4b.3a462"]]},{"id":"22997a0a.6177e6","type":"switch","z":"b412c1ab.fdb07","name":"Payload is not Empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":200,"wires":[["6576d289.f8b1fc","39bebbb5.b760d4"]]},{"id":"39bebbb5.b760d4","type":"debug","z":"b412c1ab.fdb07","name":"Payload Empty","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":300,"wires":[]},{"id":"396ff547.2561ca","type":"google-conn","z":"","name":"Google","key":"{\n  \"type\": \"service_account\",\n  \"project_id\": \"holiday-light-controller\",\n  \"private_key_id\": \"2618612714e94b1f7ed7f060a130c2bff0e8783a\",\n  \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCh2420AJNo9ac0\\n9Hkufl/bbExrygFZ11rJ9unNQWuhQNVuBJOB4L1Jm5yow/ZpfAL8NIekYqwtPeze\\nfw/YyQK+muJXYKimYz8T1iH8zIezz5d9Rg1XwyYbU5kgp+flsomea7vdQT6oMn+r\\nkA80wwOAgnQ2OHiiD+jZkwe9lbJttfwtfS5oJwZoEcS9kwMnbmOCWknAhiHHwjUR\\nVWbscifZHnquvEfCdr3ANmHj2o9NTKEhu0gNW4GDHIMNZLguMyZXo9BvTO4Ab57x\\nUhPn+cXO7YkJZD9aU37zuGAH8GZvlW3ycaJ2fDYuuwRWCzf0StD2JvI873mYLI0y\\nBVLOhCW5AgMBAAECggEADxI048DFeRmdoglNEtqW1aVECOngfhN2y1VD0DZSHave\\nK74+l3J8IaNdHxxPIKOY2g/QnQqIjnZkjNOvP6/44tNkdb8k+QhG/nN7CvFnBePT\\nrukj0ysTTGpYePFVfx6EoLUWozug6FO6bljNx6uMcw4CoO1Zczqww3ikuP8cRAmO\\n9Zgzaq+inl79d+vPIzVzNNIWecw/TJFy/HrJSkv8OIztNjciYhlUe+/3BCbC6xna\\n5qjsOVPmZHqlzFxZerZZlY7xp7480w8fx3icLVYOTFVr4xQMim+wxwt1SvMNkpna\\nzAWI5YYUSfnP+IxRhKvNww5+XKiYDWkPa1NHjZrMUQKBgQDSe3TPIdx/1ZdmubC4\\nHspjwpltqIA+A/XZuGvHfhoKnlOfxhxyVBYN9hWi7E2lMdWh7O0D7TxwdpR7KkOV\\nYoOVQnifrrDgt/iobE43Dy9Wyau6CryhdKC9g/EmXVCX7emFiBPVz4VDTZdyUJ2p\\nvayUsZSe7Abeej9NAJdj4dJs8QKBgQDE3C5ufztlFFJnwGJDBTfLp9mZK9c3HP28\\naK4P6zhsvv06JEebXIIWKiqFwGj8YfZZZREuwbivzSha/dc4Tal7XdDjMBaKVjCm\\nS4ard7jt5SZyhO/cl+1nirC4XgXuDsAIaIGzyzoZV0IEuzMQDpgM6/HjQkUFJcb/\\nqrzfzQhlSQKBgDMnviP5XtXS25Ej4EdfdGD6kr+MDF8GJ2Ja6Bb8FugtwrU6OP+w\\nYAvUmz2VoOldS0anhpNFvUK4Dy4//1z3LHPCS/7DPknfbJfCet/22NKHAS2eHmo/\\nJjHpN1rToxrJv8+sWuXEIedRnFU0Mp1mc+NPpYdaZfD8VRYp5qFn6PSBAoGAIRoV\\nBKeISTrdkGydGT/rXedfg44HplDNqbzAaBTZbA/BbOFk2Q75INj+RXdRL/8Y+Xcx\\nKHeSop0QyBwe8Gy+ruvbkBgp8iEEFTJl9rcu9XGuwVrxKlqxpNOBW78TqC/6wm8w\\nQBdQMaqmgz0nHPAXSTTze49NI8xyZdND5y4G12ECgYEAisEbMqHuL5wFwsVQcoPs\\nxiOf2Oyne+adQkh2yH0vDL479jmmrtfTvTIvU7x1cK37/vssC1MVtQMgyDkMJIaj\\nxZX7mbDm9ZwR2ybu1YH8m9OHe0AtKaXZ1157tMqZcvF5OO9W11wQzs97Mh49zSRv\\na8zn/NpQnufnu8WHHafqD0Q=\\n-----END PRIVATE KEY-----\\n\",\n  \"client_email\": \"compute-engine-default-ser-802@holiday-light-controller.iam.gserviceaccount.com\",\n  \"client_id\": \"109971604470021449586\",\n  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\n  \"token_uri\": \"https://oauth2.googleapis.com/token\",\n  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\n  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/compute-engine-default-ser-802%40holiday-light-controller.iam.gserviceaccount.com\"\n}\n","scopes":"https://www.googleapis.com/auth/pubsub"}]