raspberry_pi/node_red/HUE_API_Flows.json
[{"id":"b412c1ab.fdb07","type":"tab","label":"HUE APIs","disabled":false,"info":""},{"id":"b925ca72.9acf08","type":"http in","z":"b412c1ab.fdb07","name":"POST HUE Lights On/Off","url":"/hue","method":"post","upload":false,"swaggerDoc":"","x":110,"y":80,"wires":[["150ecb3a.fc2045","cdcde10.d3f8f2"]]},{"id":"cdcde10.d3f8f2","type":"http response","z":"b412c1ab.fdb07","name":"HTTP Response","statusCode":"200","headers":{},"x":1060,"y":80,"wires":[]},{"id":"150ecb3a.fc2045","type":"switch","z":"b412c1ab.fdb07","name":"/Hue Lights","property":"payload.Lights","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":220,"wires":[["8937da77.229728"],["fc889ca1.a761f"]]},{"id":"8937da77.229728","type":"function","z":"b412c1ab.fdb07","name":"","func":"msg.rejectUnauthorized = false;\nmsg.url = msg.payload.bridge + \"/api/lights\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":180,"wires":[["518b9f1a.b9e3f"]]},{"id":"fc889ca1.a761f","type":"function","z":"b412c1ab.fdb07","name":"","func":"msg = \"Word Son\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":300,"wires":[["518b9f1a.b9e3f"]]},{"id":"3446a390.bdd13c","type":"http in","z":"b412c1ab.fdb07","name":"GET HUE IP","url":"/huebridge","method":"get","upload":false,"swaggerDoc":"","x":90,"y":440,"wires":[["20303b8f.ab5c84"]]},{"id":"20303b8f.ab5c84","type":"http request","z":"b412c1ab.fdb07","name":"GetBridgeIP","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://discovery.meethue.com/","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":440,"wires":[["c2aeb2c5.16be6","667e92de.bb25fc"]]},{"id":"c2aeb2c5.16be6","type":"http response","z":"b412c1ab.fdb07","name":"HUE Bridge IP Response","statusCode":"","headers":{},"x":810,"y":440,"wires":[]},{"id":"d50598ea.033f48","type":"http in","z":"b412c1ab.fdb07","name":"Create Bridge Username","url":"/bridge","method":"post","upload":false,"swaggerDoc":"","x":130,"y":600,"wires":[["369de718.741898"]]},{"id":"8751bab3.cf3a18","type":"http request","z":"b412c1ab.fdb07","name":"GetBridgeIP","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":600,"wires":[["519ef4d1.a2d5ac","466f5c4a.41cb34"]]},{"id":"b505cfce.ee836","type":"http response","z":"b412c1ab.fdb07","name":"HUE Bridge IP Response","statusCode":"","headers":{},"x":1270,"y":600,"wires":[]},{"id":"369de718.741898","type":"function","z":"b412c1ab.fdb07","name":"","func":"msg.rejectUnauthorized = false;\nmsg.url = msg.payload.bridge + \"/api\";\nmsg.payload = {\"devicetype\": \"my_hue_appdavidphone\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":600,"wires":[["2df8bd9c.7a3cf2","8751bab3.cf3a18"]]},{"id":"466f5c4a.41cb34","type":"debug","z":"b412c1ab.fdb07","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":700,"wires":[]},{"id":"2df8bd9c.7a3cf2","type":"debug","z":"b412c1ab.fdb07","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":700,"wires":[]},{"id":"519ef4d1.a2d5ac","type":"change","z":"b412c1ab.fdb07","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":600,"wires":[["b505cfce.ee836"]]},{"id":"667e92de.bb25fc","type":"debug","z":"b412c1ab.fdb07","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":520,"wires":[]},{"id":"518b9f1a.b9e3f","type":"http request","z":"b412c1ab.fdb07","name":"GetBridgeIP","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":220,"wires":[["4d289550.bb9efc"]]},{"id":"4d289550.bb9efc","type":"function","z":"b412c1ab.fdb07","name":"","func":"var countKey = Object.keys(msg.payload).length;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":220,"wires":[["703ed427.18190c"]]},{"id":"703ed427.18190c","type":"counter-loop","z":"b412c1ab.fdb07","name":"","counter":"count","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"gt","termination":"countKey","terminationType":"msg","increment":1,"incrementType":"num","x":1220,"y":280,"wires":[[],[]]}]