raspberry_pi/node_red/Lights_Flow.json
[{"id":"2ba69250.73e84e","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"ca3e6b53.c1d528","type":"link in","z":"2ba69250.73e84e","name":"","links":["83fb1160.22c5f"],"x":75,"y":80,"wires":[["a9d65e07.e629d"]]},{"id":"6020605b.0ce47","type":"http request","z":"2ba69250.73e84e","name":"All HUE Lights Action","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.225/api/97XWWZZHrOTuvaMf-XyiqAYz0Ty96oDJTseanmB7/groups/1/action","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":80,"wires":[["c313f016.08414"]]},{"id":"a9d65e07.e629d","type":"function","z":"2ba69250.73e84e","name":"","func":"msg.payload = msg.payload.receivedMessages[0].message.data.Lights;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":80,"wires":[["6020605b.0ce47"]]},{"id":"c313f016.08414","type":"debug","z":"2ba69250.73e84e","name":"Phillip's HUE API Endpoint Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":80,"wires":[]}]