raspberry_pi/node_red/Music_Flow.json
[{"id":"9b19e0f4.012c6","type":"tab","label":"Music","disabled":false,"info":""},{"id":"62a2b304.703f9c","type":"link in","z":"9b19e0f4.012c6","name":"","links":["62a6ec41.4e1ec4"],"x":35,"y":280,"wires":[["f3562575.918e28"]]},{"id":"5a598cb5.614e44","type":"exec","z":"9b19e0f4.012c6","command":"catt","addpay":true,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Cast Music to Speaker","x":1420,"y":200,"wires":[["f2cc0794.7b7c88"],["79103da3.92b5a4"],["f6ecf0a.55f2c1"]]},{"id":"f2cc0794.7b7c88","type":"debug","z":"9b19e0f4.012c6","name":"Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":160,"wires":[]},{"id":"79103da3.92b5a4","type":"debug","z":"9b19e0f4.012c6","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":200,"wires":[]},{"id":"f6ecf0a.55f2c1","type":"debug","z":"9b19e0f4.012c6","name":"Return","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":240,"wires":[]},{"id":"8a4727f8.e995a8","type":"function","z":"9b19e0f4.012c6","name":"Build URL & Catt Cmd","func":"var randomNumber = Math.floor(Math.random() * 15);\nvar video_id = msg.payload.items[randomNumber].id.videoId;\nvar url = \"https://www.youtube.com/watch?v=\" + video_id;\nmsg.payload = \"cast \" + url;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":280,"wires":[["5a598cb5.614e44","8c4834b7.8763d8"]]},{"id":"6321c1cc.adb55","type":"inject","z":"9b19e0f4.012c6","name":"Test Invoke Button","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":360,"wires":[["3d56740c.bed26c"]]},{"id":"b4e048bb.58d3f8","type":"http request","z":"9b19e0f4.012c6","name":"Search You Tube","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":280,"wires":[["8a4727f8.e995a8","43244851.7e5d98"]]},{"id":"8c4834b7.8763d8","type":"debug","z":"9b19e0f4.012c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":380,"wires":[]},{"id":"3d56740c.bed26c","type":"function","z":"9b19e0f4.012c6","name":"","func":"var holiday = msg.payload.holiday;\nmsg.url = \"https://youtube.googleapis.com/youtube/v3/search?part=snippet&maxResults=15&q=\"+ holiday + \"%20music&type=video&videoEmbeddable=any&videoType=any&key=AIzaSyAl9dNg9WUXw6sMUYzEyhFy3QZuvi0RsDg\"\ndelete msg.payload.Lights;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":360,"wires":[["b4e048bb.58d3f8"]]},{"id":"47b9dbee.07cdc4","type":"exec","z":"9b19e0f4.012c6","command":"catt stop","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Stop Casting","x":530,"y":80,"wires":[["467ede79.dc1b1"],["f49881e.0dd168"],["fd32bd68.0e6c6"]]},{"id":"467ede79.dc1b1","type":"debug","z":"9b19e0f4.012c6","name":"Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":40,"wires":[]},{"id":"f49881e.0dd168","type":"debug","z":"9b19e0f4.012c6","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":80,"wires":[]},{"id":"fd32bd68.0e6c6","type":"debug","z":"9b19e0f4.012c6","name":"Return","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":120,"wires":[]},{"id":"971ec4cb.33f2a8","type":"switch","z":"9b19e0f4.012c6","name":"Random Music T/F","property":"payload.random","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"false","repair":false,"outputs":2,"x":530,"y":280,"wires":[["de8ab769.6f6d38"],["3d56740c.bed26c"]]},{"id":"de8ab769.6f6d38","type":"function","z":"9b19e0f4.012c6","name":"Build URL & Catt Cmd","func":"var url = msg.payload.url\nmsg.payload = \"cast \" + url;\ndelete msg.payload.Lights;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":200,"wires":[["5a598cb5.614e44"]]},{"id":"f3562575.918e28","type":"function","z":"9b19e0f4.012c6","name":"","func":"msg.payload = msg.payload.receivedMessages[0].message.data.Cast;\ndelete msg.payload.Lights;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":280,"wires":[["3f87fa25.7775d6"]]},{"id":"3f87fa25.7775d6","type":"switch","z":"9b19e0f4.012c6","name":"Cast On/Off","property":"payload.on","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":200,"wires":[["47b9dbee.07cdc4"],["971ec4cb.33f2a8"]]},{"id":"54c34730.d138b8","type":"inject","z":"9b19e0f4.012c6","name":"Test Invoke Button","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["47b9dbee.07cdc4"]]},{"id":"43244851.7e5d98","type":"debug","z":"9b19e0f4.012c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":380,"wires":[]}]