raspberry_pi/node_red/Subscriber_PullMsgs_Flow.json
[{"id":"c97120f8.ba961","type":"tab","label":"Subscriber -- Pull Msgs","disabled":false,"info":""},{"id":"ff56466b.ab8a98","type":"inject","z":"c97120f8.ba961","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"{\"subscription\":\"projects/holiday-light-controller/subscriptions/lights_music_msgs\",\"maxMessages\":\"5\"}","payloadType":"json","x":90,"y":200,"wires":[["98eabc79.8d53","b4a9846.e9e8a78"]]},{"id":"d6e65362.de4ed","type":"debug","z":"c97120f8.ba961","name":"Pull Msgs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":300,"wires":[]},{"id":"b4a9846.e9e8a78","type":"debug","z":"c97120f8.ba961","name":"JSON MSG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":300,"wires":[]},{"id":"20fc14d8.66c42c","type":"function","z":"c97120f8.ba961","name":"","func":"msg.payload [\"ackIds\"] = msg.payload.receivedMessages[0].ackId;\nmsg.payload [\"subscription\"] = \"projects/holiday-light-controller/subscriptions/lights_music_msgs\";\ndelete msg.payload.receivedMessages;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":200,"wires":[["9d3c8bfb.ce9028","4075493c.736448"]]},{"id":"9d3c8bfb.ce9028","type":"debug","z":"c97120f8.ba961","name":"Modify Payload","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":300,"wires":[]},{"id":"b114ec19.f746f","type":"switch","z":"c97120f8.ba961","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":200,"wires":[["20fc14d8.66c42c","cc24a98d.5cf718"]]},{"id":"83fb1160.22c5f","type":"link out","z":"c97120f8.ba961","name":"Hue Lights","links":["ca3e6b53.c1d528"],"x":1090,"y":40,"wires":[],"l":true},{"id":"81ed5fd6.cf9bc","type":"debug","z":"c97120f8.ba961","name":"JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":300,"wires":[]},{"id":"62a6ec41.4e1ec4","type":"link out","z":"c97120f8.ba961","name":"Music","links":["62a2b304.703f9c"],"x":1070,"y":100,"wires":[],"l":true},{"id":"dc5f1397.93cf1","type":"inject","z":"c97120f8.ba961","name":"Test Msgs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Cast\":{\"on\":true,\"random\":true,\"holiday\":\"christmas\"}}","payloadType":"json","x":540,"y":80,"wires":[["b114ec19.f746f"]]},{"id":"d6ef3293.515e8","type":"function","z":"c97120f8.ba961","name":"","func":"var encodedData = msg.payload.receivedMessages[0].message.data;\nvar dec = Buffer.from(encodedData, \"base64\");\ndec.toString();\nmsg.payload.receivedMessages[0].message.data = JSON.parse(dec);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":200,"wires":[["b114ec19.f746f","81ed5fd6.cf9bc"]]},{"id":"cc24a98d.5cf718","type":"switch","z":"c97120f8.ba961","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"payload.receivedMessages[0].message.data.Lights","vt":"msg"},{"t":"cont","v":"payload.receivedMessages[0].message.data.Cast","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":80,"wires":[["83fb1160.22c5f"],["62a6ec41.4e1ec4"]]},{"id":"237dfa74.495a76","type":"switch","z":"c97120f8.ba961","name":"","property":"payload.receivedMessages[0].message.data","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":200,"wires":[[]]},{"id":"98eabc79.8d53","type":"google","z":"c97120f8.ba961","name":"Google","google":"a42c608.e89e1a","api":"pubsub:v1","operation":"projects.subscriptions.pull","x":240,"y":200,"wires":[["d6e65362.de4ed","d6ef3293.515e8"]]},{"id":"4075493c.736448","type":"google","z":"c97120f8.ba961","name":"Google","google":"a42c608.e89e1a","api":"pubsub:v1","operation":"projects.subscriptions.acknowledge","x":1160,"y":200,"wires":[[]]},{"id":"a42c608.e89e1a","type":"google-conn","name":"Google","key":"{\n  \"type\": \"service_account\",\n  \"project_id\": \"holiday-light-controller\",\n  \"private_key_id\": \"2618612714e94b1f7ed7f060a130c2bff0e8783a\",\n  \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCh2420AJNo9ac0\\n9Hkufl/bbExrygFZ11rJ9unNQWuhQNVuBJOB4L1Jm5yow/ZpfAL8NIekYqwtPeze\\nfw/YyQK+muJXYKimYz8T1iH8zIezz5d9Rg1XwyYbU5kgp+flsomea7vdQT6oMn+r\\nkA80wwOAgnQ2OHiiD+jZkwe9lbJttfwtfS5oJwZoEcS9kwMnbmOCWknAhiHHwjUR\\nVWbscifZHnquvEfCdr3ANmHj2o9NTKEhu0gNW4GDHIMNZLguMyZXo9BvTO4Ab57x\\nUhPn+cXO7YkJZD9aU37zuGAH8GZvlW3ycaJ2fDYuuwRWCzf0StD2JvI873mYLI0y\\nBVLOhCW5AgMBAAECggEADxI048DFeRmdoglNEtqW1aVECOngfhN2y1VD0DZSHave\\nK74+l3J8IaNdHxxPIKOY2g/QnQqIjnZkjNOvP6/44tNkdb8k+QhG/nN7CvFnBePT\\nrukj0ysTTGpYePFVfx6EoLUWozug6FO6bljNx6uMcw4CoO1Zczqww3ikuP8cRAmO\\n9Zgzaq+inl79d+vPIzVzNNIWecw/TJFy/HrJSkv8OIztNjciYhlUe+/3BCbC6xna\\n5qjsOVPmZHqlzFxZerZZlY7xp7480w8fx3icLVYOTFVr4xQMim+wxwt1SvMNkpna\\nzAWI5YYUSfnP+IxRhKvNww5+XKiYDWkPa1NHjZrMUQKBgQDSe3TPIdx/1ZdmubC4\\nHspjwpltqIA+A/XZuGvHfhoKnlOfxhxyVBYN9hWi7E2lMdWh7O0D7TxwdpR7KkOV\\nYoOVQnifrrDgt/iobE43Dy9Wyau6CryhdKC9g/EmXVCX7emFiBPVz4VDTZdyUJ2p\\nvayUsZSe7Abeej9NAJdj4dJs8QKBgQDE3C5ufztlFFJnwGJDBTfLp9mZK9c3HP28\\naK4P6zhsvv06JEebXIIWKiqFwGj8YfZZZREuwbivzSha/dc4Tal7XdDjMBaKVjCm\\nS4ard7jt5SZyhO/cl+1nirC4XgXuDsAIaIGzyzoZV0IEuzMQDpgM6/HjQkUFJcb/\\nqrzfzQhlSQKBgDMnviP5XtXS25Ej4EdfdGD6kr+MDF8GJ2Ja6Bb8FugtwrU6OP+w\\nYAvUmz2VoOldS0anhpNFvUK4Dy4//1z3LHPCS/7DPknfbJfCet/22NKHAS2eHmo/\\nJjHpN1rToxrJv8+sWuXEIedRnFU0Mp1mc+NPpYdaZfD8VRYp5qFn6PSBAoGAIRoV\\nBKeISTrdkGydGT/rXedfg44HplDNqbzAaBTZbA/BbOFk2Q75INj+RXdRL/8Y+Xcx\\nKHeSop0QyBwe8Gy+ruvbkBgp8iEEFTJl9rcu9XGuwVrxKlqxpNOBW78TqC/6wm8w\\nQBdQMaqmgz0nHPAXSTTze49NI8xyZdND5y4G12ECgYEAisEbMqHuL5wFwsVQcoPs\\nxiOf2Oyne+adQkh2yH0vDL479jmmrtfTvTIvU7x1cK37/vssC1MVtQMgyDkMJIaj\\nxZX7mbDm9ZwR2ybu1YH8m9OHe0AtKaXZ1157tMqZcvF5OO9W11wQzs97Mh49zSRv\\na8zn/NpQnufnu8WHHafqD0Q=\\n-----END PRIVATE KEY-----\\n\",\n  \"client_email\": \"compute-engine-default-ser-802@holiday-light-controller.iam.gserviceaccount.com\",\n  \"client_id\": \"109971604470021449586\",\n  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\n  \"token_uri\": \"https://oauth2.googleapis.com/token\",\n  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\n  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/compute-engine-default-ser-802%40holiday-light-controller.iam.gserviceaccount.com\"\n}\n","scopes":"https://www.googleapis.com/auth/pubsub"}]