raspberry_pi/node_red/TestFlows.json
[{"id":"48dd48ab.a6ab18","type":"tab","label":"Test Bed","disabled":false,"info":""},{"id":"edc99472.a918c8","type":"exec","z":"48dd48ab.a6ab18","command":"catt","addpay":true,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Execute Catt Command","x":430,"y":420,"wires":[["19e0b11.6d9414f"],["441f1bf0.9ad474"],["5c467af7.f141d4"]]},{"id":"b26e30c9.0de4d","type":"inject","z":"48dd48ab.a6ab18","name":"Start Casting","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cast \"https://www.youtube.com/watch?v=vJg-XoXXwUY\"","payloadType":"str","x":170,"y":420,"wires":[["edc99472.a918c8"]]},{"id":"19e0b11.6d9414f","type":"debug","z":"48dd48ab.a6ab18","name":"Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":380,"wires":[]},{"id":"441f1bf0.9ad474","type":"debug","z":"48dd48ab.a6ab18","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":420,"wires":[]},{"id":"5c467af7.f141d4","type":"debug","z":"48dd48ab.a6ab18","name":"Return","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":460,"wires":[]},{"id":"3e371f64.b8f","type":"inject","z":"48dd48ab.a6ab18","name":"Stop Casting","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"192.168.0.25\",\"force\":true}","payloadType":"json","x":150,"y":580,"wires":[["ff39abf7.7070a8"]]},{"id":"ff39abf7.7070a8","type":"http request","z":"48dd48ab.a6ab18","name":"REST API POST /cast/stop","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://192.168.0.185:3000/cast/stop","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":580,"wires":[["df73180a.74a708"]]},{"id":"df73180a.74a708","type":"debug","z":"48dd48ab.a6ab18","name":"REST API Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":580,"wires":[]},{"id":"fdd731b3.5eb49","type":"inject","z":"48dd48ab.a6ab18","name":"Lights On (GAR)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"all lights on\",\"converse\":true,\"broadcast\":false,\"user\":\"dordonez\"}","payloadType":"json","x":120,"y":60,"wires":[["53ffdd18.78cef4"]]},{"id":"53ffdd18.78cef4","type":"http request","z":"48dd48ab.a6ab18","name":"REST API POST /assistant","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://192.168.0.185:3000/assistant","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":60,"wires":[["6aa757c0.127e78"]]},{"id":"6aa757c0.127e78","type":"debug","z":"48dd48ab.a6ab18","name":"REST API Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":60,"wires":[]},{"id":"a1324c77.6fa83","type":"inject","z":"48dd48ab.a6ab18","name":"Lights Off (GAR)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"all lights off\",\"converse\":true,\"broadcast\":false,\"user\":\"dordonez\"}","payloadType":"json","x":140,"y":140,"wires":[["1fc84c1.0eaedb4"]]},{"id":"1fc84c1.0eaedb4","type":"http request","z":"48dd48ab.a6ab18","name":"REST API POST /assistant","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://192.168.0.185:3000/assistant","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":140,"wires":[["f88844b0.953078"]]},{"id":"f88844b0.953078","type":"debug","z":"48dd48ab.a6ab18","name":"REST API Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":140,"wires":[]},{"id":"d05214b0.93f938","type":"inject","z":"48dd48ab.a6ab18","name":"Lights On (Hue)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":true,\"sat\":254,\"bri\":254,\"hue\":10000}","payloadType":"json","x":120,"y":220,"wires":[["306f67e1.c31818"]]},{"id":"306f67e1.c31818","type":"http request","z":"48dd48ab.a6ab18","name":"REST API POST /assistant","method":"PUT","ret":"obj","paytoqs":"ignore","url":"https://192.168.0.225/api/uAHD37wygIB5NTpNFpiKTPcAS5Zs8s9c1cCAVRSJ/lights/1/state","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":220,"wires":[["4b90d958.102348"]]},{"id":"4b90d958.102348","type":"debug","z":"48dd48ab.a6ab18","name":"REST API Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":220,"wires":[]},{"id":"b0ac035a.57eb7","type":"inject","z":"48dd48ab.a6ab18","name":"Lights Off (Hue)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":false,\"sat\":254,\"bri\":254,\"hue\":10000}","payloadType":"json","x":140,"y":300,"wires":[["aa5491f7.b587c"]]},{"id":"aa5491f7.b587c","type":"http request","z":"48dd48ab.a6ab18","name":"REST API POST /assistant","method":"PUT","ret":"obj","paytoqs":"ignore","url":"https://192.168.0.225/api/uAHD37wygIB5NTpNFpiKTPcAS5Zs8s9c1cCAVRSJ/lights/1/state","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":300,"wires":[["40ba56b5.44d838"]]},{"id":"40ba56b5.44d838","type":"debug","z":"48dd48ab.a6ab18","name":"REST API Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":300,"wires":[]},{"id":"aece5f6b.91ad4","type":"inject","z":"48dd48ab.a6ab18","name":"Lights Off (Hue)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":false,\"sat\":254,\"bri\":254,\"hue\":10000}","payloadType":"json","x":120,"y":680,"wires":[["e7d02bef.6b84f8"]]},{"id":"e7d02bef.6b84f8","type":"http request","z":"48dd48ab.a6ab18","name":"REST API POST /assistant","method":"PUT","ret":"obj","paytoqs":"ignore","url":"https://192.168.0.225/api/IUe2o9oNrsG4Q7xuX1LK7VIcxj5NhBsS873fg0yn/lights/1/state","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":680,"wires":[["17584ebd.74e4c1"]]},{"id":"17584ebd.74e4c1","type":"debug","z":"48dd48ab.a6ab18","name":"REST API Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":680,"wires":[]}]